- name: Backup Cisco IOS switch configuration
  hosts: switches
  gather_facts: no
  connection: network_cli

  vars:
    backup_date: "{{ lookup('pipe', 'date +%Y-%m-%d') }}"

  tasks:
    - name: Ensure local backup directory exists
      local_action:
        module: file
        path: /home/danilo/ansible_tutorial/backups
        state: directory
        mode: '0755'

    - name: Get running configuration and store temporary backup on controller
      cisco.ios.ios_config:
        backup: yes
      register: backup_result

    - name: Copy backup file to final local backup directory with date
      copy:
        src: "{{ backup_result.backup_path }}"
        dest: "/home/danilo/ansible_tutorial/backups/{{ inventory_hostname }}_{{ backup_date }}.cfg"
      delegate_to: localhost

    - name: Remove temporary backup folder created by ios_config
      file:
        path: "{{ backup_result.backup_path | dirname }}"
        state: absent
      delegate_to: localhost
